.listContainer{
  background-color:#212121;
}
.listItemActive{
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  border-color: #59FF00;
}